# Environment Variables Template
PORT=8080
DB_HOST=cafe-management-18-cafem-anagement-system.i.aivencloud.com
DB_PORT=20880
DB_NAME=defaultdb
DB_USERNAME=avnadmin
DB_PASSWORD=YOUR_AIVEN_PASSWORD_HERE
JWT_SECRET=404E635266556A586E3272357538782F413F4428472B4B6250645367566B5970
JWT_EXPIRATION=86400000
